<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	<bean id="customerbean" class="com.pankaj.bean.Customer">
		<property name="person" ref="personbean" />
	</bean>
	<bean id="personbean" class="com.pankaj.bean.Person">
		<property name="name" value="Mr. Lee" />
		<property name="adderss" value="LA,USA" />
		<property name="bill" value="2999.0d" />
	</bean>
</beans>
